<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class=wrap>
          <div class=header-tilte>
              <h1>花輪一樹のブログ</h1>
          </div>
          <ul class=header-menu>
              <li><%= link_to("一覧","/") %></li>
              <li><%= link_to("新規","/new") %></li>
          </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
